h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--black);
    padding-bottom: 30px;
}

form {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    border-radius: 50px;
    padding: 12px 35px;
}

input[type="search"] {
	background-color: white;
	border: none;
	width: 100%;
	outline: none;
}

.search-container {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}

label:not(.achats-container label, .ventes-container label) {
	font-weight: 600;
	font-size: 1rem;
	padding-bottom: 2px;
}

.achats-display div label, .ventes-display div label {
	font-size: 0.8rem;
}

.bar {
	height: 30px;
	width: 1px;
	background-color: grey;
}

.select-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 20%;
}

select {
	background-color: transparent;
	border: none;
	outline: none;
}

form {
	position: relative;
}

.achats-display, .ventes-display {
	border-radius: 10px; 
	width: 100%;
	padding: 5px;
	display: none;
	flex-direction: row;
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
}

.achats-display.isShowed, .ventes-display.isShowed {
	display: flex;
	justify-content: space-around;
}

img {
	height: 25px;
}

@media screen and (max-width: 1500px) {

	form {
		width: 70%;
	}
}

/* tablette */
@media screen and (max-width: 900px) {

	form {
		width: 90%;
	}
}

/* mobile */
@media screen and (max-width: 700px) {
	nav ul {
		flex-direction: column;
	}
	
	form {
		flex-direction : column;
		min-height: 30vh;
		justify-content: space-around;
		padding: 20px;
	}
	
	
	.select-container {
		width: 100%;
		flex-direction: row;
	}
	
	button {
		width: 100%;
	}
	
	.search-container {
		width: 100%;
		flex-direction: row;
	}
}

/* Listes encheres */

.list-encheres {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 100px;
}

.enchere {
	
}












