h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--white);
    padding-bottom: 30px;
}

.fields {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.field {
	width: 45%;
}

input:not(input[type="checkbox"]) {
	height: 35px;
	border: none;
	border-radius: 15px;
	padding: 10px;
	width: 100%;
	outline: none;
}

label:not(label[for="souvenir"]) {
	color: var(--grey);
	font-size: 0.7rem;
	padding-bottom: 5px;
}

.achats-display label, .ventes-display label {
	font-size: 0.7rem;
}

label[for="souvenir"] {
	color: var(--black);
	font-size: 0.7rem;
}

input[type="checkbox"] {
	margin-right: 5px;
}

.details-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.details {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.user-infos {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.infos:last-child {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.details-container a {
	color: var(--black);
	font-size: 0.7rem;
	text-decoration: none;
	transition: all 200ms;
}

.details-container a:hover {
	color: var(--yellow);
	text-decoration: underline;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.line {
    width: 40%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--grey);
}

@media screen and (max-width: 600px) {
	
	.fields {
		flex-direction: column;
		width: 100%;
	}
	
	.field {
		width: 100%;
	}
	
	#hidden {
		display: none;
	}
}

p:not(.line-container p) {
	padding-top: 10px;
	font-size: 0.9rem;
	color: var(--grey);
}

table {
  margin: 1em auto;
  min-width: 300px;
  width: 70%;
  background: #464e2c;
  color: var(--white);
  border-radius: .4em;
  overflow: hidden;
}
table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #46637f;
}
table th {
  display: none;
}
table td {
  display: block;
  align-items: center;
  padding: 0 10px;
}
table td:first-child {
  padding-top: .5em;
}
table td:last-child {
  padding-bottom: .5em;
}
table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
  width: 50%;
  padding-right: 5px;
  text-align: end;
}

table th, table td {
  text-align: left;
  margin: 10px auto;
}

table th, table td:before {
  color: var(--yellow);
}

@media screen and (max-width: 800px) {
	table {
		width: 90%;
	}
	
	table td:before {
	  width: auto;
	  padding-right: 5px;
	  text-align: end;
	}
}



