h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--black);
    padding-bottom: 30px;
}

.vente-form {
	display: flex;
}

.fields-container {
	display: flex;
	align-items: flex-end;
}

.field-container {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.vente-fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fields {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.vente-fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.vente-form .vente-fields {
	padding-left: 50px;
}

.vente-field {
	width: 90%;
}

.field {
	width: 49%;
}

.img {
	height: 300px;
	width: 300px;
	padding-top: 10px;
	overflow: hidden;
}

.img img {
	width: 100%;
	height: 100%;
	object-position: center;
    object-fit: cover;
}

input:not(input[type="checkbox"]) {
	height: 35px;
	border: none;
	border-radius: 15px;
	padding: 10px;
	width: 100%;
	outline: none;
}

input[type="checkbox"] {
	cursor: pointer;
	user-select: none;
}

label:not(label[for="souvenir"]) {
	color: var(--grey);
	font-size: 0.7rem;
	padding-bottom: 5px;
	user-select: none;
}

.achats-display label, .ventes-display label {
	font-size: 0.7rem;
}

label[for="souvenir"] {
	color: var(--black);
	font-size: 0.7rem;
	cursor: pointer;
}

input[type="checkbox"] {
	margin-right: 5px;
}

.details-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.details {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.user-infos {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.infos:last-child {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.details-container a {
	color: var(--black);
	font-size: 0.7rem;
	text-decoration: none;
	transition: all 200ms;
}

.details-container a:hover {
	color: var(--red);
	text-decoration: underline;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.line {
    width: 40%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--black);
}

@media screen and (max-width: 600px) {
	
	.fields {
		flex-direction: column;
		width: 100%;
	}
	
	.field {
		width: 100%;
	}
	
	#hidden {
		display: none;
	}
}

p:not(.line-container p, .success, .error) {
	padding-top: 10px;
	font-size: 0.9rem;
	color: var(--black);
}

textarea {
	padding: 10px;
	width: 369px;
    height: 123px;
    resize: none;
    border: none;
}

table {
  margin: 1em auto;
  min-width: 300px;
  width: 70%;
  background: var(--yellow3);
  color: var(--white);
  border-radius: .4em;
  overflow: hidden;
}

table th {
  display: none;
}
table td {
  display: block;
  align-items: center;
  padding: 0 10px;
}
table td:first-child {
  padding-top: .5em;
}
table td:last-child {
  padding-bottom: .5em;
}
table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
  width: 50%;
  padding-right: 5px;
  text-align: end;
}

table th, table td {
  text-align: left;
  margin: 10px auto;
}

table th, table td:before {
  color: var(--yellow);
}

@media screen and (max-width: 800px) {
	table {
		width: 90%;
	}
	
	table td:before {
	  width: auto;
	  padding-right: 5px;
	  text-align: end;
	}
}


/* Détail vente */

.vente {
	display: flex;
	justify-content: space-around;
}

.name {
	display: flex;
	align-items: center;
}

.name span {
	padding-right: 5px;
}

.detail-vente {
	width: 50%;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.detail-vente a {
	color: var(--black);
}

.detail-vente a:hover {
	color: var(--red);
}

.detail-vente-field {
	padding-top: 20px;
}

.vente-fields label {
	display: flex;
	align-items: center;
	font-size: 1rem !important;
}

.img.vente-img {
	height: 500px;
	width: 500px;
}

.name a {
	padding-left: 5px;
}

.history {
	padding: 30px 0;
}

.history-ul li {
	display: flex;
	align-items: center;
}

















