:root {
  --yellow: rgb(251,209,129);
  --red: rgb(241,107,75);
  --black: #131313;
  --white: rgb(250,247,237);

  --regularFont: "Segoe UI", Tahoma, Verdana, sans-serif;
}

::selection {
  background: var(--yellow);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: var(--regularFont);
}

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px; 
}

a {
	display: block;
	font-weight: 700;
}

.bandeau {
	background: var(--yellow);
	box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.58);
	-webkit-box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.58);
	position: absolute; 
	top: 0;
	width: 100%;
    height: 70px;
}

nav {
	position: absolute; 
	left: 50%;
	transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}

nav a, #desktop-menu a {
	text-decoration: none;
	color: var(--black);
}

nav a:hover, #desktop-menu a:hover {
	text-decoration: underline;
	color: var(--red);
}

#desktop-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#desktop-menu li {
	padding-right: 10px;
}

#menuToggle {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--black);
}

#menuToggle li:hover {
  background-color: var(--red);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--black);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--black);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-links {
	display: block;
}

#menu {
  position: absolute;
  top: -16px;
  right: 0;
  width: 0px;
  opacity: 0;
  padding-top: 41px;
  background: var(--white);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: width 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

#menu li {
  padding: 10px;
  font-size: 1rem;
}

#menuToggle input:checked ~ ul li.menu-links {
  display: block;
}

#menuToggle input ~ ul {
	width: 200px;
}

#menuToggle input:checked ~ ul {
  opacity: 1;
  width: 200px;
}

#hidden {
	display: block;
}

#yellow {
	height: 4px;
	background: var(--yellow);
}

button {
	font-size: 1rem;
	cursor: pointer;
    background: var(--red);
    border: 3px solid var(--red);
    border-radius: 30px;
    padding: 10px;
    margin-top: 15px;
    transition: 200ms ease-in-out;
}

button.form-btn {
	margin-top: 0;
  	align-items: center;
    border-radius: 100%;
    display: flex;
}

button:hover {
    background: rgb(241 66 24);
    border: 3px solid rgb(241 66 24);
    
}

a.link {
	font-size: 1rem;
	cursor: pointer;
    background: var(--white);
    border: 3px solid var(--red);
    border-radius: 30px;
    padding: 10px;
    transition: 200ms ease-in-out;
}

a.link:hover {
    background: rgb(241 66 24);
    border: 3px solid rgb(241 66 24);
}

a.secondary-link {
	font-size: 1rem;
    margin-top: 15px;
	background-color: var(--white);
	border: none;
	color: var(--black);
	cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    transition: 200ms ease-in-out;
    text-decoration: none;
    text-align: center;
}

a.secondary-link:hover {
	background-color: var(--red);
	border: none;
	color: var(--black);
}

a.warning-link {
	font-size: 1rem;
	background-color: var(--red);
	border: none;
	color: var(--white);
	cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    transition: 200ms ease-in-out;
    text-decoration: none;
    text-align: center;
}

a.warning-link:hover {
	background-color: #ca0000;
	border: none;
	color: var(--white);
}

.error {
	color: var(--red);
}

.success {
	color: var(--green);
}

li {
	list-style: none;
}

/* mobile */
@media screen and (max-width: 700px) {
	
	#menuToggle {
  		display: block;
	}
	
	#desktop-menu {
		display: none;
	}
	
	nav ul {
		flex-direction: column;
	}
	
	#hidden {
		display: none;
	}
}













